work_dir: ./work_dir/ntu/xview/gchn_joint
model_saved_name: ./runs/ntu_cv_gchn_joint
# feeder
feeder: feeders.feeder.Feeder
train_feeder_args:
  data_path: ./data/ntu/xview/train_data_joint.npy
  label_path: ./data/ntu/xview/train_label.pkl
  debug: False
  random_choose: False
  random_shift: False
  random_move: False
  window_size: -1
  normalization: False

test_feeder_args:
  data_path: ./data/ntu/xview/val_data_joint.npy
  label_path: ./data/ntu/xview/val_label.pkl

# model
model: model.gchn_ntu.Model
model_args:
  num_class: 60
  num_point: 25
  num_person: 2

#optim
weight_decay: 0.0001
base_lr: 0.1
step: [30, 40]

# training
device: [0, 1]
batch_size: 20
test_batch_size: 40
num_epoch: 50
nesterov: True
